doctype html
html(lang='en')
  head
    title Stock
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    //- stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- scrip

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

    //- Custom Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') Project 4 : Group 1
        ul.nav.navbar-nav
        ul.nav.navbar-nav.navbar-nav-center
          if userName != 'No User'
            li
              a Welcome  
                span#myName= userName
        ul.nav.navbar-nav.navbar-right          
          if userName == 'No User'
            .dropdown
              .dropbtn
                li
                  a(href='/users/login')
                    span.glyphicon.glyphicon-log-in
                    |   Login
            .dropdown
              .dropbtn
                li
                  a(href='/users/register')
                    span.glyphicon.glyphicon-pencil
                    |   Register
          else
            .dropdown
              .dropbtn
                span.glyphicon.glyphicon-signal
                |      Stocks   
                span.glyphicon.glyphicon-chevron-down
              .dropdown-content
                li
                  a(href='/stock/manage') Manage Stocks
                li
                  a(href='/stock/list') Stock List
                li
                  a(href='/stock/view') View Stocks
                li
                  a(href='/stock/add') Add Stock
            .dropdown
              .dropbtn
                a#logout(href='/logout')
                  span.glyphicon.glyphicon-log-out
                  |  Logout

    block scripts
    block content