extends layout

block content
    .container.main
        .stock-list
            p#title Stock List
            #portfolio= portfolio

block scripts
    script(src='/scripts/_list.js')
    link(rel='stylesheet', href='/stylesheets/list.css')