extends layout

block content
    link(rel='stylesheet', href='/stylesheets/list.css')
    .container.main
        .stock-list
            h2#title Stock List
            input#portfolio(type="hidden" value= portfolio)
            table.table#mytable
                thead
                    tr
                        th Stock Name
                        th Current Price
                        th Up or Down
                        th Stock Ticker Code
                        th(style="width:40px;")
                tbody
                    

block scripts
    script(src='/scripts/_list.js')