extends layout

block content
    .container.main show stock window 
        a.btn.btn-success.btn-xl(href='/stock/add')
            #btn2 Add Stock
        a.btn.btn-success.btn-xl(href='/stock/manage')
            #btn2 Manage Stock
        a.btn.btn-success.btn-xl(href='/stock/view')
            #btn2 View Stock