extends layout

block content
    .container.main
        .stock-list
            h2#title Stock List
            input#portfolio(type="hidden" value= portfolio)

block scripts
    script(src='/scripts/_list.js')
    link(rel='stylesheet', href='/stylesheets/list.css')