extends layout

block content
    link(rel='stylesheet', href='/stylesheets/manage.css')
    h2.text-center Manage Stocks
    #messages.text-center
    input.register(type="hidden", id="csrf" name="_csrf", value=csrfToken)
    input#portfolio(type="hidden" value= portfolio)
    .box
        .container.dark
            .row
                .col-md-6
                    h2.text-center Allocate Funds
                    .sliderList
                        
                        .btn.btn-success.postInfo(type="submit" onclick="postIt()") Save

                .col-md-6#container

block scripts
    script(src='/scripts/_manage.js')
    script(src="https://code.highcharts.com/highcharts.src.js")
