extends layout

block content
    h1.text-center Money Management
    h3.text-center Total Funds: 
    h3.text-center#loot
    
    .box
        .container
            .row#faded
                .col-md-6#container
                .col-md-6
                    .well
                        h3 Money Slider Control
                        .sliderList
                        //- input#myRange(type='range', value='0', onchange='changeAmount()')
                        //- p#dollars 
                     
                        

