extends layout

block content
    h2.text-center Money Management
    input.register(type="hidden", id="csrf" name="_csrf", value=csrfToken)
    input#portfolio(type="hidden" value= portfolio)
    .box
        .container
            h4.text-center Total Funds:
            h4.text-center#loot
            .row#faded
                .col-md-6.well
                    h2.text-center Allocate Funds
                    .sliderList
                    .btn.btn-success.postInfo(type="submit" onclick="postIt()") Save Changes

                .col-md-6#container


                        //- input#myRange(type='range', value='0', onchange='changeAmount()')
                        //- p#dollars 
block scripts
    script(src='/scripts/_manage.js')
    script(src="https://code.highcharts.com/highcharts.src.js")
