extends layout
    
block content
    input.register(type="hidden", id="csrf" name="_csrf", value=csrfToken)
    input#portfolio(type="hidden" value= portfolio)
    .main.container
        #container(style="height: 400px; min-width: 100%")

block scripts
    script(src='/scripts/_stock.js')
    script(src="https://code.highcharts.com/stock/highstock.js")
    script(src="https://code.highcharts.com/stock/highcharts-more.js")
    script(src="https://code.highcharts.com/stock/modules/exporting.js")
