extends layout

block content
    input.register(type="hidden", id="csrf" name="_csrf", value=csrfToken)
    input#portfolio(type="hidden" value= portfolio)
    .main chart with history of stocks
        #container(style="height: 400px; min-width: 310px")

block scripts
    script(src='/scripts/_stock.js')
    

    