extends layout

block content
    input#portfolio(type="hidden" value= portfolio)
    .main show stock window 
    a.btn.btn-primary.btn-xl(href='/stock/add')
        #btn2 Add Stock
    a.btn.btn-primary.btn-xl(href='/stock/manage')
        #btn2 Manage Stock
    a.btn.btn-primary.btn-xl(href='/stock/list')
        #btn2 List Stock
