.stock-search-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stock-search {
  width: 500px;
  height: 80px;
  font-size: 4em;
  float: left;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
}

#stock-search-btn {
  height: 80px;
  width: 150px;
  border-radius: 5px;
  font-size: 2em;
}

#stocks {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.stock-result {
  height: 80px;
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: red;
  margin: 10px;
}
